.header__nav_item a:hover {
  opacity: 1;

}

.header__button:hover {
  background-color:orange;
  color: rgb(112, 73, 73);
}

.hero__button:hover {
  background-color: rgba(255, 252, 248, 0.647);
  color: rgb(238, 111, 14);
}

.intro__button:hover {
  background-color: rgb(119, 150, 151);
  color: orange;
}

