.feature_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feature_title h2 {
    font-family: var(--playfair-display);
    font-weight: bold;
    font-size: 36px;
    color: black;
  }
  
  .feature_title p {
    font-family: var(--inter);
    color: orange;
    font-weight: 600;
    font-size: 17px;
  }
  
  .feature_list {
    display: flex;
    
    
  }
  
  .feature_item {
    display: inline-block;
    width: 160px;
    height: 50px;
    margin-left: 150px;
    
}
    

  