body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
}

.container{
    margin: 0 auto;
    max-width: 1219px;
}

a{
    text-decoration: none;
    color:rgb(93, 91, 91);
}

b{
    text-decoration: none;
    color:rgb(7, 6, 6);
}

li{
    display: block;
    
}
button{
    margin-right: 100px;
}